#item{
    padding-left: 20px;
    padding-right: 10px;
}

#logo{
   margin-left: 10px;
}

.nav-item-text {
  font-size: 1.15 rem;  /* ~20px */
  font-weight: 400;    /* optional: makes it bolder */
}

/* Bigger brand text */
.navbar-brand {
  font-size: 1.5rem;   /* ~24px */
  font-weight: 500;
}

